<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Summarization</title>
</head>
<body>
    <h1>This is a simple project on Text Summary</h1>
    <h3> I hope u like it!!</h3>
    <form method="POST" enctype="multipart/form-data">
        <input type = "file" name="file" id = "file">
        <input type = "submit" name="submit" id = "submit">
    </form>
    
</body>
</html>




















